/* post-content */
.post-header {
  margin-bottom: var(--rem-10);
}
.post-header h1 {
  font-family: var(--heading-font);
  font-size: var(--rem-20);
  color: var(--heading-color);
  margin: var(--rem-20) 0;
  text-align: center;
}
/* post-content */
.post-content {
  margin-bottom: 10vh;
}
.post-content a,
.post-header a {
  color: var(--link-color);
}
.post-content h1, .post-content h2{
  font-family: var(--heading-font);
  color: var(--heading-color);
}
.post-content h2 {
  font-size: var(--rem-15);
  margin: var(--rem-20) 0 var(--rem-10);
}
.post-content h3 {
  color: var(--highlight-color);
  font-family: var(--serif-font-family);
  font-size: var(--rem-12);
  margin: var(--rem-15) 0 0.75rem;
  text-align: center;
}
.post-content p {
  margin-bottom: var(--rem-12);
}
.post-content ul,
.post-content ol {
  padding-left: 2.5rem;
  margin-bottom: var(--rem-12);
}
.post-content li {
  margin-bottom: 0.25rem;
}
.post-content .footnotes {
  font-family: var(--fangsong-font-family);
}
.footnote-ref::before {
    content: "[";
  }
  .footnote-ref::after {
    content: "]";
  }
.post-content del {
  text-decoration: none;
  filter: blur(5px) grayscale(80%) opacity(40%);
  transition: filter 0.2s ease;
}
.post-content del:hover {
  filter: none;
}
.post-content blockquote {
  margin: var(--rem-05) 0 var(--rem-15) 0;
  padding-left: var(--rem-12);
  border-left: 1px dashed var(--gray1);
}
.post-content blockquote p,
.post-content blockquote li {
  color: var(--gray2);
  font-family: var(--fangsong-font-family);
}

.post-content code, .post-content pre span, .post-content pre code {
  font-family: var(--monospace-font-family);
  font-size: var(--code-size);
}
.post-content code {
  background: var(--code-bg);
  padding: 0.2em 0.4em;
  margin: 0.2em 0.4em;
}
.post-content pre {
  filter: saturate(0.6) brightness(1.2);
  padding: var(--rem-10);
  border-radius: 6px;
  overflow-x: auto;
  margin-bottom: var(--rem-10);
}
.post-content pre code {
  background: none;
  padding: 0;
}
@media (max-width: 768px) {
  .post-header h1 {
    font-size: var(--rem-15);
  }
  .post-content h2 {
    font-size: var(--rem-12);
  }
  .post-content h3 {
    font-size: var(--rem-10);
  }
  .post-content blockquote {
    padding-left: var(--rem-05);
  }
  .post-content pre {
    padding: var(--rem-05);
    margin-bottom: var(--rem-10);
  }
  .post-content del {
    text-decoration: line-through;
    color: var(--gray2);
    filter: none;
    transition: none;
  }
}
@media (max-width: 600px) {
  .post-content .footnotes ol {
    padding-left: var(--rem-15);
  }
}