$light: (
  /* palatte */
  --heading-color: #152523,
  --text-color: #28312a,
  --link-color: #1e7e5c,
  --highlight-color: #395750,
  --deco-color: #cadcd3,
  --gray1: #9a9999,
  --gray2: #555,
  --code-bg: rgba(220, 238, 233, 0.5),
  /* bg */
  --bg: linear-gradient(to bottom right, #97a88ed7, #a4c0ae, #a6cdbee7)
  );
$dark: (
/* palatte-dark */
  --heading-color: #beddd0,
  --text-color: #b0c1bb,
  --highlight-color: #8ba293,
  --deco-color: #0e1511,
  --gray1: #777,
  --gray2: #aaa,
  --code-bg: rgba(42, 42, 42, 0.7),
  /* bg-dark */
  --bg: linear-gradient(to bottom right, #00160f, #131c01, #000906)
);
@mixin theme($map) { 
  @each $key, $val in $map {
    #{$key}: #{$val};
  }
}
:root {
  @include theme($light);
  /* font */
  --serif-font-family: 
  serif; 
  --fangsong-font-family: 
  'STFangSong',
  serif;
  --monospace-font-family: 
  'Maple Mono NF CN',
  monospace;
  --heading-font-family:
  'STDongGuanTi',
  sans-serif;
  /* size */
  --h1-text: var(--rem-15);
  --h2-text: 1.3rem;
  --h3-text: 19px;
  --text-size: 18px;
  --code-size: 16px;
  /* length */
  --rem-05: 0.5rem;
  --rem-10: 1rem;
  --rem-12: 1.2rem;
  --rem-15: 1.5rem;
  --rem-20: 2rem;
}
@media (prefers-color-scheme: dark) {
  :root { @include theme($dark); }
}
:root[color-mode="dark"] {
  @include theme($dark);
}
:root[color-mode="light"] {
  @include theme($light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
@view-transition {
  navigation: auto;
}
#theme-select {
  background: none;
  border: none;
  font-size: var(--rem-10);
  color: var(--gray1);
}
// #back2top {
  
// }
body {
  font-family: var(--serif-font-family);
  font-size: var(--text-size);
  line-height: 1.8;
  color: var(--text-color);
  max-width: 720px;
  margin: 0 auto;
  padding: 0 var(--rem-15);
  background: var(--bg);
}
a {
  text-decoration: none;
}
hr {
  margin: 3em 5em;
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #07544299,
    transparent
  );
}
strong {
  font-weight: 900;
  padding-bottom: 1px;
  border-bottom: 2px solid var(--highlight-color);
}
time {
  font-size: var(--rem-10);
  font-family:'Courier New', Courier, monospace;
  color: var(--gray1);
  writing-mode:sideways-lr;
  align-self: center;
  border-right: 1.5px dotted var(--gray1);
}
footer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 var(--rem-20);
}
footer p, footer a {
  color: var(--gray1);
  font-family: var(--fangsong-font-family);
  font-size: var(--code-size);
  letter-spacing: 0.5px;
}
footer a:hover {
  color: var(--link-color);
}
@media (max-width: 768px) {
  :root {
    --h1-text: 20px;
    --h2-text: 18px;
    --h3-text: 17px;
    --text-size: 16px;
    --code-size: 14px; 
  }
}
@media (max-width: 600px) {
  time {
    padding-right: 1px;
  }
}