/* site-header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--len-20) 0;
  margin: var(--len-20) 0;
}
.site-title {
  font: oblique var(--len-15) var(--heading-font);
  color: var(--text-color);
}
nav {
  display: flex;
  background-color: var(--highlight-color);
  padding: 1px 5px;
  border-radius: 37px;
}
nav li {
  padding: 0 8px;
  justify-content: space-around;
  list-style-type: none;
}
nav a {
  font-size: 0.95rem;
  color: var(--deco-color);
}

/* post-list */
.post-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.post-list h1 {
  font-family: var(--heading-font);
  font-size: var(--len-15);
  color: var(--highlight-color);
  margin: var(--len-15) 0 var(--len-10);
}
.post-list h1::before {
  content: "▸ ";
}
.post-list p {
  font-family: var(--fangsong-font-family);
  text-align: center;
}
.post-list a {
  color: var(--highlight-color);
}
.post-card a,
.post-card p {
  color: var(--text-color);
}
.post-card h2 {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}
.post-card summary {
  font-family: var(--fangsong-font-family);
  margin-bottom: var(--len-05);
  color: var(--gray2);
}
@media (max-width: 600px) {
  .site-header {
    flex-direction: column;
    gap: var(--len-05);
    margin-bottom: var(--len-10);
    text-align: center;
  }
}