/* site-header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--rem-20) 0;
  margin: var(--rem-10) 0;
}
.site-title {
  font: oblique var(--rem-15) var(--heading-font-family);
  color: var(--text-color);
}
nav {
  display: flex;
  background-color: var(--highlight-color);
  padding: 1px 5px;
  border-radius: 37px;
}
nav li {
  padding: 0 8px;
  justify-content: space-around;
  list-style-type: none;
}
nav a {
  font-size: 0.95rem;
  color: var(--deco-color);
}
/* post-list */
.post-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.post-list h1 {
  font-family: var(--heading-font-family);
  font-size: var(--rem-15);
  color: var(--highlight-color);
  margin: var(--rem-15) 0 var(--rem-10);
}
.post-list h1::before {
  content: "▸ ";
}
/* post-card */
.post-card {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: var(--rem-10);
  padding-left: var(--rem-05);
  color: inherit;
  justify-content: space-between;
  align-items: center;
}
.post-card h2 {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}
.post-card p.sum {
  font-family: var(--fangsong-font-family);
  margin-bottom: var(--rem-05);
  color: var(--gray2);
}
.post-card a {
  color: var(--text-color);
}

@media (max-width: 600px) {
  .site-header {
    flex-direction: column;
    gap: var(--rem-10);
    margin-bottom: var(--rem-10);
    text-align: center;
  }
}