<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://github.com/fdfvfrv" rel="me">
  <link rel="icon" href="/img/favicon.ico">
  <script src="/js/changeColorMode.js"></script>
  <title>
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      {{ .Title }}
    {{ end }}
  </title>
  {{ $sassOptions := dict "transpiler" "dartsass" "enableSourceMap" true }}
  {{- with resources.Get "sass/page.scss" | css.Sass $sassOptions | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end -}}
</head>
<body>
  {{ if .IsHome }}
  <header class="site-header">
    <a class="site-title" href="/">{{ .Site.Title }}</a>
    <select id="theme-select" aria-label="颜色模式">
      <option value="auto">☯︎</option>
      <option value="light">☀︎</option>
      <option value="dark">☾</option>
    </select>
    <nav>
      <li><a href="/links/">果壳铃</a></li>
      <li><a href="/about/">树</a></li>
      <li><a href="/fun/">根系</a></li>
    </nav>
  </header>
  {{ end }}
  <main class="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ if .IsHome }}
  <hr>
  <footer>
    <p>© {{ now.Year }} Here is 37 </p>
    <p><a href="https://xn--sr8hvo.ws/previous">← </a><a href="https://xn--sr8hvo.ws">IndieWeb Ring</a><a href="https://xn--sr8hvo.ws/next"> →</a></p>
  </footer>
  {{ end }}
</body>
</html>