{{ define "main" }}

{{ if .IsHome }}
  <div class="post-list">
    {{ range where .Site.RegularPages "Section" "posts" }}
    <article class="post-card">
      <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
      {{ if .Summary }}<summary>{{ .Summary }}</summary>{{ end }}
    </article>
    {{ end }}
  </div>

{{ else }}
  <div class="post-list">
    <a href="/"><h1>{{ .Title }}</h1></a>
    {{ .Content }}
    {{ range .Pages }}
    <article class="post-card">
      <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
      {{ if .Summary }}<summary>{{ .Summary }}</summary>{{ end }}
    </article>
    {{ end }}
  </div>

{{ end }}

{{ end }}