{{ define "main" }}

{{ if .IsHome }}
  <div class="post-list">
    {{ $s := slice "posts" "weekly"}}
    {{ $pages := where .Site.RegularPages "Section" "in" $s }}
    {{ range $pages }}
    <a class="post-card" href="{{ .Permalink }}">
      <time>{{ .Date.Format "01-02" }}</time>
      <article>
        <h2>{{ .Title }}</h2>
        {{ if .Summary }}<p class="sum">{{ .Summary }}</p>{{ end }}
      </article>
    </a>
    {{ end }}
  </div>
{{ else }}
  <div class="post-list">
    <a href="/"><h1>{{ .Title }}</h1></a>
    {{ .Content }}
    {{ range .Pages }}
    <a class="post-card" href="{{ .Permalink }}">
      {{ if not .Date.IsZero }}
      <time>{{ .Date.Format "01-02" }}</time>
      {{ end }}
      <article>
        <h2>{{ .Title }}</h2>
        {{ if .Summary }}<p class="sum">{{ .Summary }}</p>{{ end }}
      </article>
    </a>
    {{ end }}
  </div>
{{ end }}

{{ end }}